<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <!-- Cabeçalho -->
    <div class="cab">
        <div class="logo"><img src="../image/athena.png" class="img-logo"></div>
        <div class="nome">
            <h1 class="athena">Athenas - Prestadora de serviços </h1>
        </div>
    </div>

    <div class="menu">
        <ul>
            <li class="pad-menu"><a href="index.html" class="link-menu">Início</a></li>
            <li><a href="login.html" class="link-menu">Login</a></li>
            <li><a href="pagamento.html" class="link-menu">Pagamento</a></li>
            <li><a href="formCadastrarCliente.php" class="link-menu">Cadastre-se</a></li>
            <li><a href="serviços.html" class="link-menu">Serviços</a></li>
            <li><a href="funcionarias.html" class="link-menu">Funcionárias</a></li>
        </ul>
    </div>

    <div class="banner-inicio-page">
        <div class="title-page-secondary">
            <h1 class="title-page">Prestadora de Serviços</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="message-box box-text-page">
                <h2 class="title-bold title-page-2">ATHENAS - PRESTADORAS DE SERVIÇO</h2>
                <p class="lead">Uma empresa especializada em reparos ou resoluções de problemáticas voltados para a área
                    da tecnologia, efetuado apenas por mulheres qualificadas e especializadas, nosso diferencial são
                    nossas funcionárias e nosso estilo de trabalho.</p>
            </div>
        </div>
    </div>

    <div class="quem">

        <h1 class="somos">Quem somos?</h1>

        <div class="grid-somos">
            <div class="box-somos">
                <h2 class="title-somos">Missão</h2><br>
                <p class="p-somos">Athenas é uma empresa que tem como objetivo oferecer prestação de serviços com mão de obra feminina. Buscando a autenticidade, inovação e satisfação aos nossos clientes.</p>
            </div>
            <div class="box-somos">
                <h2 class="title-somos">Visão</h2><br>
                <p class="p-somos">Ser reconhecida como uma empresa que inclui as mulheres no mercado de trabalho prestadora de serviços.</p>
            </div>
            <div class="box-somos">
                <h2 class="title-somos">Valores</h2><br>
                <p class="p-somos">Inserir mulheres às no mercado de trabalho.</p>
            </div>
        </div>
    </div>

    <div class="rodape">
        <h2 class="fale">Fale Conosco:</h2>
        <h4 class="contatos">Email: mulher.athenas@gmail.com</h4>
        <h4 class="contatos">Telefone: (61) 9 0000-0000</h4>
    </div>

</body>

</html>