<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="cab">
        <div class="logo"><img src="../image/athena.png" class="img-logo"></div>
        <div class="nome"><h1 class="athena">Athenas - Prestadora de serviços </h1></div>
    </div>

    <div class="menu">
        <ul>
            <li class="pad-menu"><a href="index.html" class="link-menu">Início</a></li>
            <li><a href="login.html" class="link-menu">Login</a></li>
            <li><a href="pagamento.html" class="link-menu">Pagamento</a></li>
            <li><a href="formCadastrarCliente.php" class="link-menu">Cadastre-se</a></li>
            <li><a href="serviços.html" class="link-menu">Serviços</a></li>
            <li><a href="funcionarias.html" class="link-menu">Funcionárias</a></li>
        </ul>
    </div>

    <section class="serv">
        <h1 class="serv-title">Catálogo de Serviços</h1>
        <div class="serv-cards">

            <div class="card">
                <div class="icon-card"><img src="../image/programacao.png" alt="programador" class="serv-img"></div>

                <h3 class="nome-pro">Programadora</h3>
                <p class="p-conte">Desenvolve os trabalhos depuração e testes de programas, executando serviços de manutenção nos programas já existentes.</p>
            </div>

            <div class="card">
                <div class="icon-card"><img src="../image/seguranca.png" alt="Analista de Segurança de Redes" class="serv-img"></div>

                <h3 class="nome-pro">Analista de Segurança de Redes</h3>
                <p class="p-conte">Um Analista de Redes atua com gerenciamento e manutenção de redes local e remota realizando a instalação e configuração de computadores e ativos de rede.</p>
            </div>

            <div class="card">
                <div class="icon-card"><img src="../image/design-grafico.png" alt="Designer Web" class="serv-img"></div>

                <h3 class="nome-pro">Designer Web</h3>
                <p class="p-conte"> Profissional responsável por criar páginas para a web e fazer a manutenção de uma pagina</p>
            </div>

            <div class="card">
                <div class="icon-card"><img src="../image/banco.png" alt="Analista de Banco de dados" class="serv-img"></div>

                <h3 class="nome-pro">Analista de Banco de dados</h3>
                <p class="p-conte">Administra banco de dados, envolvendo manutenção de estrutura e implementação de novos processos de software, métodos de acesso e dimensionamento de hardware e mantém segurança conforme políticas da empresa.</p>
            </div>

            <div class="card">
                <div class="icon-card"><img src="../image/montador.png" alt="Montador e reparador de computadores" class="serv-img"></div>

                <h3 class="nome-pro">Montadora e Reparadora de Computadores</h3>
                <p class="p-conte">Realiza manutenção em computadores. Documenta, monta, instala, repara e configura computadores e dispositivos de hardware (periféricos). Identifica, instala e configura sistemas operacionais e software aplicativos.</p>
            </div>

            <div class="card">
                <div class="icon-card"><img src="../image/operador.png" alt="Operador de Microcomputador" class="serv-img">
                </div>
                <h3 class="nome-pro">Operadora de Microcomputador</h3>
                <p class="p-conte">Monitorar o desempenho de programas e aplicativos, recursos de trocas de dados armazenamento, registros de erros de operação.</p>
            </div>
        </div>
        <div class="card">
            <div class="icon-card"><img src="../image/montador.png" alt="Montador e reparador de computadores" class="serv-img"></div>

            <h3 class="nome-pro">Montadora e Reparadora de Computadores</h3>
            <p class="p-conte">Realiza manutenção em computadores. Documenta, monta, instala, repara e configura computadores e dispositivos de hardware (periféricos). Identifica, instala e configura sistemas operacionais e software aplicativos.</p>
        </div>

        <div class="card">
            <div class="icon-card"><img src="../image/operador.png" alt="Operador de Microcomputador" class="serv-img">
            </div>
            <h3 class="nome-pro">Operadora de Microcomputador</h3>
            <p class="p-conte">Monitorar o desempenho de programas e aplicativos, recursos de trocas de dados armazenamento, registros de erros de operação.</p>
        </div>
    </div>


    </section>

    <div class="rodape">
        <h2 class="fale">Fale Conosco:</h2>
        <h4 class="contatos">Email: mulher.athenas@gmail.com</h4>
        <h4 class="contatos">Telefone: (61) 9 0000-0000</h4>
    </div>
</body>

</html>